parameters:
    earlyTerminatingMethodCalls:
        Controller:
            - redirect
    universalObjectCratesClasses:
        - ArrayData
        - Config_ForClass
        - ViewableData
        - AbstractQueuedJob # symbiote/silverstripe-queuedjobs module support
    excludes_analyse:
        - silverstripe-cache
services:
    -
        class: SilbinaryWolf\SilverstripePHPStan\MethodClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: SilbinaryWolf\SilverstripePHPStan\PropertyClassReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
    -
        class: SilbinaryWolf\SilverstripePHPStan\DataObjectGetStaticReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: SilbinaryWolf\SilverstripePHPStan\SingletonReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: SilbinaryWolf\SilverstripePHPStan\ExtensionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SilbinaryWolf\SilverstripePHPStan\DataListReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SilbinaryWolf\SilverstripePHPStan\DataObjectReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SilbinaryWolf\SilverstripePHPStan\DBFieldStaticReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: SilbinaryWolf\SilverstripePHPStan\InjectorReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
